
#image {
    position: relative;
    width: 1000px;
    height: 600px;
}

#tribute-text {
    text-align: center;
}

body {
    background-color: white;
    text-align: center;
}
        
#img-div{
    background-color: white;
    margin: 10px;
    padding-bottom: 10px;
            
}
        
#title {
    text-align: center;
}
        
#cont {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom:5px;
}
       
ul {
    text-align: inherit;
    list-style-position: inside;
}
       
#title {
    margin-top: 50px;
}
       
main {
    font-size: 18px;
}
       
#img-caption {
    text-align: center;
}