body {
    font-family: helvetica;
    font-size: 18px;
    text-align: center;
    background-color: rgb(89, 223, 205);
}

#survey-form {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#box-1 {
    text-align: end;
    align-self: flex-start;
}
#box-2 {
    text-align: left;
}



#box-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: stretch;
}
button {
    background-color: rgb(39, 39, 238);
}
button:hover {
   animation-name: bu;
   animation-duration: 50ms;
   animation-fill-mode: forwards;
}
@keyframes bu {
    100% {
        background-color: rgb(106, 106, 255);
    }
}
